* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  cursor: none;
}

button {
  padding: 10px 15px;
}
#hero {
  height: 288px;
  width: 288px;
  overflow: hidden;
  position: relative;
}
.directionLeft {
  transform: scale(1, 1);
}
.directionRight {
  transform: scale(-1, 1);
}
#imgHero {
  width: 1728px;
  height: 1152px;
  position: relative;
  top: 0px;
  left: 0px;
}